<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Darta Chalani Login</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

        <!-- Bootstrap -->
        <link th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" />
        <!-- Font Awesome -->
        <link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
        <!-- NProgress -->
        <link th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet"/>
        <!-- Animate.css -->
        <link th:href="@{/vendors/animate.css/animate.min.css}" rel="stylesheet"/>

        <!-- Custom Theme Style -->
        <link th:href="@{/css/custom.min.css}" rel="stylesheet"/>

        <style>
            .login{
                background: #0F2027;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            }
            .login_content{
                text-shadow: none;
                color: #fff;
            }
        </style>
    </head>

    <body class="login">        

        <div>
            <a class="hiddenanchor" id="signup"></a>
            <a class="hiddenanchor" id="signin"></a>

            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">
                        <form th:action="@{/login}" method="POST">
                            <h1>Welcome</h1>
                            <div th:if="${param.error!=null}" class="alert alert-danger alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                </button>
                                <p>Email or Password invalid!!!, please verify</p>
                            </div>                            
                            <div>
                                <input type="text" class="form-control" id="email" name="email" th:placeholder="Email"  required="" />
                            </div>
                            <div>
                                <input type="password" class="form-control" id="password" name="password" th:placeholder="Password" required="" />
                            </div>
                            <div>
                                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>                                
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">                               
                                <div>
                                    <h1>Esc pvt ltd.</h1>
                                    <p>©2019 All Rights Reserved.</p>
                                    <br>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>            
            </div>
        </div>

        <!-- jQuery -->
        <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
        <!-- Bootstrap -->
        <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
        <!-- FastClick -->
        <script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
        <!-- NProgress -->
        <script th:src="@{/vendors/nprogress/nprogress.js}"></script>
        <!-- Chart.js -->
        <script th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
        <!-- gauge.js -->
        <script th:src="@{/vendors/gauge.js/dist/gauge.min.js}"></script>
        <!-- bootstrap-progressbar -->
        <script th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
        <!-- iCheck -->
        <script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
        <!-- Skycons -->
        <script th:src="@{/vendors/skycons/skycons.js}"></script>
        <!-- Flot -->
        <script th:src="@{/vendors/Flot/jquery.flot.js}"></script>
        <script th:src="@{/vendors/Flot/jquery.flot.pie.js}"></script>
        <script th:src="@{/vendors/Flot/jquery.flot.time.js}"></script>
        <script th:src="@{/vendors/Flot/jquery.flot.stack.js}"></script>
        <script th:src="@{/vendors/Flot/jquery.flot.resize.js}"></script>
        <!-- Flot plugins -->
        <script th:src="@{/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
        <script th:src="@{/vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>
        <script th:src="@{/vendors/flot.curvedlines/curvedLines.js}"></script>
        <!-- DateJS -->
        <script th:src="@{/vendors/DateJS/build/date.js}"></script>
        <!-- JQVMap -->
        <script th:src="@{/vendors/jqvmap/dist/jquery.vmap.js}"></script>
        <script th:src="@{/vendors/jqvmap/dist/maps/jquery.vmap.world.js}"></script>
        <script th:src="@{/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js}"></script>
        <!-- bootstrap-daterangepicker -->
        <script th:src="@{/vendors/moment/min/moment.min.js}"></script>
        <script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
        <!-- Parsley -->
        <script th:src="@{/vendors/parsleyjs/dist/parsley.min.js}"></script>
        <!-- Custom Theme Scripts -->
        <script th:src="@{/js/custom.min.js}"></script>
    </body>
</html>